.box{
    text-align: right;
    height: 898px;
    width: 848px;
    background-color: #929292;
    margin: 0 auto;
}

ul{
    list-style-type: none;  
    padding: 0;
    margin: 0;
}

li {
    width: 125px;
    border-left: 1px solid;
    height: 48px;
    text-align: center;
    display: inline-block;
}