html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del,
dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd,
ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.bg-brown {
    background-color: #964b00;
}

.bg-red {
    background-color: #ed1238;
}

.bg-yellow {
    background-color: #f7b731;
}

.bg-orange {
    background-color: #fa8231;
}

.bg-green {
    background-color: #20bf6b;
}

.bg-blue {
    background-color: #3867d6;
}

.bg-skyblue {
    background-color: #45aaf2;
}

.bg-navy {
    background-color: #003458;
}

.bg-violet {
    background-color: #8854d0;
}

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #333333;
}

.bg-grey {
    background-color: #626262;
}



